<div class="row">
    <div class="col-md-10 add-area mx-auto">

        <div class="feedback"></div>

        {{#if err}}
        <p class="alert alert-danger">{{err.errors.author.message}}</p>
        <p class="alert alert-danger">{{err.errors.title.message}}</p>
        <p class="alert alert-danger">{{err.errors.body.message}}</p>
        {{/if}}

        <form method="POST" action="/articles/edit/{{data._id}}?_method=PUT" onsubmit="return validateArticle()">

        <input type="hidden" name="_method" value="PUT" />

        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" class="form-control" id="author" value="{{data.author}}" name="author" placeholder="Enter Author...">
        </div>

        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{data.title}}" placeholder="Enter Title...">
        </div>

        <div class="form-group">
            <textarea cols="30" rows="10" class="form-control" id="body" name="body" placeholder="Write Your Article...">{{data.body}}</textarea>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
</div>